<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login-register.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <body class="login-register-body">
            <div class="containerr">
                <section class="login-box">
                    <div class="sinematicket-img mb-4">
                        <img src="https://cinematicket.org/v3.13.8/assets/images/typo_logo.svg" alt="" />
                    </div>
                    <div class="login">
                        <div class="d-flex">
                            <div class="">
                                <% if(errors){ %>
                                    <h6 class="text-danger"><%= errors %></h6>
                                <% } %>
                                <% if(message){ %>
                                    <h6 class="text-success"><%= message %></h6>
                                <% } %>
                                <span class="fw-bold ">آدرس ایمیل خود را وارد کنید و بر روی لینک فرستاده شده کلیک کنید</span>
                                <form action="/auth/forget_password" method="post" >
                                    <div class="mt-3" >
                                        <div class="mb-3">
                                            <label class="form-label">آدرس ایمیل :</label>
                                            <input name="email" type="email" class="form-control"/>
                                        </div>
                                        <input type="submit" class="btn btn-danger" value="ارسال">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="login-svg">
                        <img src="images/login&register/login.svg" alt="" />
                    </div>

                    <div class="comeback-to-home">
                        <a href="/"><button type="submit" class="btn btn-danger">بازگشت به صفحه اصلی</button></a>
                    </div>
                </section>
            </div>
        </body>
    </div>
</body>
</html>